/* slider */
#highlights-slider {
  padding-bottom: 3rem!important;
  height: 500px;
}
@media (max-width: 800px){
  #highlights-slider {
    display: none;
  }

}


#highlights-slider {
  position: relative;
  padding-top: 150px;
}

.highlight-placeholder,
.highlight-photos {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}


.slick-slide {
  height: auto;
}

.highlight-placeholder {
  z-index: 1;
  opacity: 1;
  transition: opacity 1s;
}

.highlight-placeholder img,
.highlight-photos img {
  display: block;
  width: 100%;
  height: auto;
}

.highlight-photo {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.highlight-photo.current {
  display: block!important;
  z-index: 50;
}

.slider-header {
  display: inline-block;
  font-size: larger;
  background-color: rgba(0, 0, 0, .4);
  padding: 10px;
  color: #fff;
}

.slider-highlights {

  z-index: 150;
}

.slider-title {
  display: inline-block;
  margin: 0;
  font: inherit;
  color: inherit;
  line-height: inherit;
}

.highlight-title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 35px;
  color: inherit;
}

.highlight-title a {
  color: inherit;
}

.highlight-description {
  font-size: larger;
  line-height: 1.2;
  margin: 0;
}


@media (max-width: 600px) {
  .highlight-photos img {
    height: 100%;
    width: auto;
  }
}

@media (min-width: 800px) {
  #highlights-slider {
    padding-top: 240px;
  }
}

@media (min-width: 1200px) {
  #highlights-slider {
    padding-top: 376px;
  }
  .highlight-title {
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 1200px) and (max-width: 1331px) {
  #highlights-slider {
    padding-top: 308px;
  }
}

@media (min-width: 1600px){
  #highlights-slider {
    padding-top: 500px;
  }
}

@media print {

  .slick-track {
    width: auto!important;
    opacity: 1!important;
    transform: none!important;
  }

  .slick-cloned {
    display: none!important;
  }
  #slider-nav,
  .slider-counter {
    display: none;
  }
  .slick-slider {
    min-height: auto!important;
  }
  #highlights-slider {
    padding: 0;
    border-bottom: 0!important;
    margin: 0;
    position: static!important;
    padding-bottom: 0!important;
  }
  .slick-slide {
    width: auto!important;
    padding: 0!important;
  }
}
.slider-highlights h1 {
  font-weight: 400;
  font-size: 3rem;
}
.slider-highlights {
  margin-bottom: 0rem;
  position: absolute;
  top: 50%;
  width: 80%!important;
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px 4px #3c3c3c;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  max-height: 190px;
}
@media (max-width: 1200px) {
  .slider-highlights {
    margin-top: 0;
    margin-bottom: 26rem;
  }
  .slider-highlights h1 {
    font-size: 2rem;
  }
}
.slider-highlights h1,
.slider-highlights p {
  max-width: 80%;
  margin-left: auto;
  color: white!important;
  margin-right: auto;
}
.slider-highlights p {
  font-size: 2rem;
}
.slider-highlights a {
  text-shadow: none;
}
.slider-section {
  height: 100%;
}
.slider-overlay {
  overflow: hidden;
  width: 100%;
  height: 67px;
  display: block;
  z-index: 1;
  position: absolute;
  top: -2px;
  left: 0;
  background-size: cover;
  display: none;
}
.slider-section {
  position: relative;
}
.slider-next,
.slider-prev {
  cursor: pointer;
  position: absolute;
  top: -30px;
  z-index: 1;
}
@media (max-width: 1200px) {
  .slider-next,
  .slider-prev {
    top: -50%;
  }
}
.slider-next {
  right: 0;
}
.slider-next:before {
  content: "›";
  font-family: FontAwesome;
  font-size: 11rem;
}
.slider-prev {
  right: auto;
  left: 0;
}
.slider-prev:before {
  content: "‹";
  font-family: FontAwesome;
  font-size: 11rem;
}
.slider-list {
  height: 100%;
}

.frontpage-image-wrapper {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.slider-highlights .slick-track {
  display: flex!important;
  justify-content: center;
  align-items: center;
}

@media (max-width: 762px) {
  .frontpage-image-wrapper {
    max-width: 100%;
    margin-top: 4rem;
  }

}
@media (min-width: 1600px) {
  .highlight-photos img {
    position: relative;
    top: -50%;
  }
}
