@import "variables";

/* content */
.portaltype-plone-site #portal-breadcrumbs {
  display: none;
}

#portal-breadcrumbs {
  margin-top: -8rem;
  margin-bottom: 7rem;
  font-size: 1.3rem;
  position: relative;
  display: table;
  background: rgba(0,0,0,0.4);
  padding: .5rem;
}

#breadcrumbs-you-are-here {
  display: none;
}
#portal-breadcrumbs a,
.breadcrumbSeparator
{
  color: @light-color;
}
#breadcrumbs-current {
  color: @primary-green;
  text-shadow: 1px 1px 2px #444;
}

#portal-columns {
  min-height: 550px;
  margin: 0 auto;
  float: none;
  //overflow: hidden;
  background: url("footer-bg.png") no-repeat center 100%;
  padding-bottom: 8em;
}


.documentFirstHeading {
  display: none;
}
.portaltype-plone-site .documentFirstHeading {
  display: block;
}
.documentDescription {
  color: #333;
  margin-bottom: 1em;
}

#content-core {
  color: #666;
}

#plone-document-byline, div.documentByLine { display: none !important; }

.newsImageContainer {
  max-width: 350px;
}
.newsImageContainer img {
  width: 100%;
  height: auto;
}
.newsImageContainer div {
  padding: 0.5em 1em;
  text-align: center;
  background-color: lightgrey;
}

@media screen and (max-width: 767px) {
  #portal-breadcrumbs {
    margin-top:2rem;
    margin-bottom: 2rem;
  }
  #portal-columns {
    margin-top: 90px;
  }
  #portal-column-two, #portal-column-content {
    float: none;
    width: 100%;
    margin-left: -100%;
  }
  #login-form label, #login-forgotten-password {
    text-align: center;
  }
  .overlay-login {
    width: 100% !important;
    left: 0 !important;
    margin: 5px !important;
  }
  
}

@media screen and (width: 768px) {
  #portal-columns {
    margin: 0;
    width: 768px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  #portal-breadcrumbs {
    z-index: 98;
  }
}

@media (min-width: 768px) and (max-width:1023px){
  #portal-breadcrumbs {
    margin: 0 0 2em 0;
  }
}
