@import "variables";

/* content */
.portaltype-plone-site #portal-breadcrumbs {
  display: none;
}

#portal-breadcrumbs {
  margin-top: -8rem !important;
  margin-bottom: 7rem;
  font-size: 1.3rem;
  z-index: 1;
  position: relative;
  display: table;
  background: rgba(0,0,0,0.4);
  padding: .5rem;
}

#breadcrumbs-you-are-here {
  display: none;
}
#portal-breadcrumbs a,
.breadcrumbSeparator
{
  color: @light-color;
}
#breadcrumbs-current {
  color: @primary-green;
  text-shadow: 1px 1px 2px #444;
}

#portal-columns {
  min-height: 550px;
  margin: 0 auto;
  float: none;
  //overflow: hidden;
  background: url("footer-bg.png") no-repeat center 100%;
  padding-bottom: 8em;
}

#portal-column-two {
    background-color: #F7F7F7;
    border: 1px solid #D6D6D9;
}

.documentFirstHeading {
  display: none;
}
.documentDescription {
  color: #333;
  margin-bottom: 1em;
}

#content-core {
  color: #666;
}

#plone-document-byline, div.documentByLine { display: none !important; }

.newsImageContainer {
  max-width: 350px;
}
.newsImageContainer img {
  width: 100%;
  height: auto;
}
.newsImageContainer div {
  padding: 0.5em 1em;
  text-align: center;
  background-color: lightgrey;
}


@media (max-width: 762px) {
  #portal-breadcrumbs {
    margin-top:2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  #portal-columns {
    margin-top: 90px;
  }
}
