@import "header";
@import "mainmenu";
@import "footer";

* {
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  font-size: 12pt;
}


ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.mobile-header a {
  text-decoration: none;
}
.toggle-down {
  margin-left: 0;
}

.hiddenStructure {
  display: block;
  background: transparent none;
  border: none;
  height: 0.1em;
  overflow: hidden;
  padding: 0;
  margin: -0.1em 0 0 -0.1em;
  width: 1px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}


.navbar-collapse {
  padding: 0;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}

#portal-header {
  margin: 0 auto;
}

#portal-header:before, #portal-header:after {
    display: table;
    content: " ";
}
#portal-header:after {
  clear: both;
}
@media (max-width: 767px) {
  .navbar {
    border-bottom: 1px solid #e7e7e7;
  }
  .navbar-toggle {
    position: absolute;
    top: 47px;
    right: 0;
    transform: translateY(-50%);
    margin: 0 10px 0 0;
  }
  #portal-searchbox {
    margin-top: 20px;
  }
  #portal-personaltools dd a {
    line-height: 2em;
    padding: 0 0.75em;
  }
  .mobile-header a {
    display: inline-block;
  }
  #searchGadget, .LSBox .searchField {
      padding: 19px;
  } 
  .sub-sub-menu-wrapper {
    padding: 0;
  }
  .sub-sub-menu-link {
    margin-bottom: 20px;
  }

}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
  .collapse {
    display: block;
  }
  // custom fix to be removed after nfi cleanup
  .fise-search-header-wrapper #portal-top {
    display: block;
    margin: 0;
  }
  #navbar-collapse {
    display: block !important;
  }

}

@media (min-width:768px) and (max-width: 1023px) {
  .header-image img, .header-image picture {
    position: absolute;
    top: 0;
    left: 0;
  }
  .header-image-title {
    font-size: 300%;
    margin-left: 280px;
    text-align: left;
    position: relative;
  }
}

@media (min-width:1280px) {
  .fise-search-header-wrapper #portal-top {
    display: block;
  }
}
//@media (min-width: 1200px) {
//  #portal-header {
//    width: 1270px;
//  }
//}
