.mobile-header {
  font-family: 'Roboto', sans-serif;
}
#portal-header {
  background: #8dc63f;
}
#portal-logo {
  margin: 0;
  z-index: 10;
}
#portal-logo img {
  background: white;
}
/* search */
.searchSection {
  display: none;
}
.LSBox .searchButton {
  width: 100%;
  display: block;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 0.5rem;
  background: #ff8900;
  color: white;
  box-shadow: 1px 1px 2px #00000087;
}
.LSBox {
  background-color: #FFF;
  padding: 0.5em;
}
#searchGadget,
.LSBox .searchField {
  border-radius: 5px;
  border: 0;
  font-size: 90%;
  position: relative;
  margin-bottom: 0.5em;
  background: #FFF;
  min-width: 300px;
  padding: 2rem;
}
.LSBox .searchField:before {
  font-family: 'FontAwesome', serif;
  content: "\f002";
  position: absolute;
}
.fise-search-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -1.5em;
  margin-top: 0.5em;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.8);
}
#portal-personaltools {
  background: none;
  margin: 0;
  float: none;
}
#portal-personaltools a {
  font-weight: bold;
  font-size: 1.25em;
  color: #5f5f5f;
}
#portal-personaltools-wrapper {
  order: 3;
  position: relative;
}
.search,
.login,
.header-info {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  background: #8dc63f;
}
.login,
.header-info,
.search {
  background-color: #FFF;
}
.search > .fa-search,
.login .fa {
  color: #5f5f5f;
  padding: 0.5em;
  cursor: pointer;
  z-index: 1;
}
.search,
#portal-siteactions,
.login {
  position: relative;
  padding: 0 0.5em;
  margin: 0;
}
.action-selected {
  background-color: #8dc63f;
  border-radius: 5px 5px 0 0;
}
.login-container,
#portal-searchbox {
  display: none;
  min-width: 198px;
  position: absolute;
  right: calc(100% - 49px);
  text-align: center;
  background: #FFF;
  overflow: hidden;
  top: calc(100% - 4px);
  z-index: 151;
  /* because of slider on homepage which has 150 */
  border-top: 7px solid #8dc63f;
  border-radius: 0 0 6px 6px;
  transition: height 200ms ease-in-out;
}
.login-container.is-visible,
#portal-searchbox.is-visible {
  display: block;
  height: auto;
}
.login-container {
  top: calc(100% - 2rem);
  right: calc(100%);
  margin-right: -51px;
}
.header-image {
  height: 180px;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}
.header-image img,
.header-image picture {
  width: 100%;
  height: auto;
}
.header-image-title {
  color: white;
  position: absolute;
  margin: auto;
  font-weight: bold;
  width: 100%;
  text-shadow: 0 1px 5px black;
}
#portal-siteactions a {
  font-size: 15px;
  margin-right: 1rem;
  margin-left: 1rem;
  color: #5f5f5f;
}
#portal-personaltools dd {
  background: none;
  position: relative;
}
#portal-personaltools.deactivated dd {
  display: block;
}
#portal-searchbox {
  float: none;
  order: 2;
  margin: -16px 0 0 auto;
}
#portal-searchbox form {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
/* navigation */
#portal-globalnav,
#portal-globalnav li a,
#portal-globalnav .selected a:hover {
  background-color: transparent;
}
#portal-globalnav li {
  display: flex;
}
#portal-globalnav li a {
  border-right: 0;
  min-width: 1px;
  font-weight: bold;
  color: #525659;
  padding: 1.5em;
  border-left: 2px solid #ccc;
  display: flex;
  align-items: center;
  text-align: center;
}
#portal-globalnav li:last-child a {
  border-right: 2px solid #ccc;
}
#portal-globalnav li a:hover,
#portal-globalnav .selected a,
#portal-globalnav .selected a:hover {
  color: #000;
  background: transparent;
}
#portaltab-index_html {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .navbar-collapse.in {
    width: 100%;
    margin: 0;
  }
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    max-height: calc(100vh - 95px);
    overflow: auto;
    padding: 0;
  }
  .navbar-toggle {
    position: absolute;
    top: 47px;
    right: 0;
    transform: translateY(-50%);
    margin: 0 10px 0 0;
  }
  .nav-logo {
    max-width: 155px;
  }
  .navbar-header {
    background: white;
    text-align: left;
  }
  .navbar-default {
    background-color: #fef8f8;
  }
  #portal-top {
    font-size: 100%;
  }
  #portal-header {
    background-color: #ebe8df;
    margin-top: 0;
    justify-content: end;
  }
  #portal-header,
  .header-image {
    background: #8dc63f;
  }
  #portal-globalnav {
    margin: 1em 1em 0 1em;
  }
  #portal-globalnav li {
    display: block;
  }
  #portal-searchbox input {
    font-size: 100%;
  }
  #portal-logo {
    display: none;
  }
  #portal-siteactions {
    display: block;
    width: 100%;
    text-align: center;
  }
  #portal-siteactions a {
    color: #FFF;
    font-size: 18px;
  }
  #siteaction-about {
    display: block;
    text-align: center;
    color: #FFF;
  }
  #personaltools-login {
    display: block;
    padding: 2rem;
  }
  #portal-searchbox {
    display: block;
    position: relative;
    right: initial;
    width: 100%;
    margin-top: 2rem;
    margin-right: 0;
    margin-left: 0;
  }
  .login,
  .header-info,
  .search {
    background: #8dc63f;
  }
  .login-container {
    display: block;
    top: initial;
    position: relative;
    right: initial;
    min-width: initial;
    overflow: initial;
    margin: 0;
    width: 100%;
  }
  .search > .fa-search,
  .login .fa {
    display: none;
  }
  #portal-personaltools-wrapper {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .navbar-fixed-bottom,
  .navbar-fixed-top {
    z-index: 88;
  }
  #portal-top {
    margin-bottom: 2em;
  }
  #portal-globalnav {
    margin-bottom: 0;
    display: flex;
  }
  #portal-header {
    display: flex;
    margin: 0 auto 0 auto;
    padding: 0;
    z-index: 90;
    position: relative;
    box-shadow: 0 8px 8px -5px #000000ad;
  }
  #portal-searchbox {
    box-shadow: -2px 6px 5px 0 #00000078;
  }
  .header {
    background-color: #8dc63f;
  }
  .header:after {
    background-color: #FFF;
    position: absolute;
    width: 50%;
    height: 73px;
    top: 0;
    right: 0;
    content: " ";
    z-index: 0;
  }
  .header-image-title {
    font-size: 2em;
  }
  .header-nav {
    background-color: #eee;
  }
  #portal-globalnav-wrapper {
    margin: 0 auto;
  }
  #portal-logo-link-header {
    display: none;
  }
  .navbar-header {
    float: none;
  }
  .navbar-fixed-top {
    position: relative;
    background-color: white;
    border: 0;
  }
  #mobile-header-container {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #portal-header {
    width: 100%;
    height: 55px;
  }
  .header:after {
    height: 55px;
  }
  #portal-logo {
    position: absolute;
    left: 0;
    top: 75px;
  }
  .header-image img,
  .header-image picture {
    position: absolute;
    top: 0;
    left: 0;
  }
  .header-image-title {
    font-size: 300%;
    margin-left: 280px;
    text-align: left;
    position: relative;
  }
  .main-nav-item {
    padding: 0 0.5em;
  }
}
@media (min-width: 1024px) {
  .header:after {
    height: 73px;
  }
  #portal-header {
    height: 73px;
  }
  .header-image-title {
    font-size: 325%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  #portal-logo img {
    max-width: 220px;
    height: auto;
  }
}
@media screen and (min-width: 1280px) {
  #portal-header {
    max-width: 1270px;
  }
  #portal-siteactions a {
    font-size: 17px;
  }
}
ul {
  list-style: none;
}
.angle-down-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  margin-bottom: 2px;
  color: inherit;
}
.main-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  position: relative;
  z-index: 10;
  flex: 1;
  margin: 0;
  padding: 0;
}
.main-nav-item {
  flex-grow: 1;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
}
.main-nav-item > a {
  display: flex;
  align-items: center;
  padding: 12px 0;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-nav-item:hover > a {
  background: #8dc63f;
  color: #0d8442;
  text-decoration: none;
}
.sub-menu {
  min-width: 200px;
  text-align: left;
  line-height: 1;
  padding: 1.5em;
}
.sub-menu-wrapper {
  position: absolute;
  left: 0;
  height: auto;
  background-color: #0d8442;
  z-index: 10;
  padding: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  display: none;
}
.sub-menu-link {
  color: #8dc63f;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 10px 0;
}
.sub-menu-link--more {
  color: #ffd200;
  font-weight: normal;
}
.sub-sub-menu-item {
  display: block;
  margin-left: 1em;
}
.sub-sub-menu-link {
  color: #FFF;
  text-transform: none;
  font-size: 13px;
  margin-bottom: 0.5rem;
  display: block;
}
.sub-menu-link:hover,
.sub-sub-menu-link:hover {
  color: #8dc63f;
}
.toggle-down {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 0;
  color: inherit;
}
@media (max-width: 767px) {
  .main-nav {
    flex-direction: column;
    background: #8dc63f;
  }
  .main-nav-item {
    align-items: center;
    flex-direction: column;
  }
  .main-nav-item > a {
    font-size: 18px;
    width: 100%;
    display: block;
  }
  .open .sub-menu-wrapper {
    position: relative;
    display: flex;
    margin-top: 0;
    width: 100%;
  }
  .dropdown-backdrop {
    display: none;
  }
  .sub-menu-link {
    font-size: 15px;
  }
  .sub-menu {
    padding: 1rem;
    min-width: inherit;
  }
  .sub-sub-menu-link {
    font-size: 15px;
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .main-nav-item:hover:before {
    content: " ";
    border-top: 10px solid #0d8442;
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
  }
  .main-nav-item:hover > .sub-menu-wrapper {
    display: flex;
    box-shadow: 0 2px 3px #00000047, inset 0 2px 3px #00000047;
  }
}
@media (min-width: 763px) and (max-width: 920px) {
  .main-nav-item > a,
  #portal-siteactions a {
    font-size: 10pt;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-nav-item:hover > .sub-menu-wrapper {
    margin-top: 55px;
  }
}
@media (min-width: 1024px) {
  .main-nav-item:hover > .sub-menu-wrapper {
    margin-top: 73px;
  }
}
@media (min-width: 1280px) {
  .main-nav-item > a {
    font-size: 17px;
  }
}
/* footer */
#portal-footer-wrapper {
  background-color: #f1f1f1;
}
#portal-footer {
  background-color: transparent;
  margin: 0 auto;
  padding: 2em 0 4rem 0;
  font-size: 1.2rem;
}
#portal-footer a {
  font-size: 1.2rem;
  color: #004494 !important;
}
#portal-footer-wrapper a {
  /*color: #269776;*/
  color: #525659;
}
.portal-footer-bottom-area {
  background-color: #FFF;
  padding: 1em 0;
  display: flex;
}
.portal-footer-logos {
  align-items: center;
  font-size: 1.2rem;
  flex-wrap: wrap;
}
.footer-hr {
  border-color: #FFF;
  clear: both;
  margin: 2em 1em;
}
.category-title {
  clear: both;
  text-align: center;
}
.category-title-description {
  margin: 0 auto;
  width: 80%;
}
.cc-cookies {
  width: 100%;
}
@media (max-width: 500px) {
  .portal-footer-logos .right-aligned {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .portal-footer-logos {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-size: 12pt;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.mobile-header a {
  text-decoration: none;
}
.toggle-down {
  margin-left: 0;
}
.hiddenStructure {
  display: block;
  background: transparent none;
  border: none;
  height: 0.1em;
  overflow: hidden;
  padding: 0;
  margin: -0.1em 0 0 -0.1em;
  width: 1px;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-collapse {
  padding: 0;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}
#portal-header {
  margin: 0 auto;
}
#portal-header:before,
#portal-header:after {
  display: table;
  content: " ";
}
#portal-header:after {
  clear: both;
}
.login-container,
#portal-searchbox {
  height: 0;
}
.login-container {
  margin-top: calc(100% - 1.2em);
}
@media (max-width: 767px) {
  .navbar {
    border-bottom: 1px solid #e7e7e7;
  }
  .navbar-toggle {
    position: absolute;
    top: 47px;
    right: 0;
    transform: translateY(-50%);
    margin: 0 10px 0 0;
  }
  #portal-searchbox {
    margin-top: 20px;
  }
  #portal-personaltools dd a {
    line-height: 2em;
    padding: 0 0.75em;
  }
  .mobile-header a {
    display: inline-block;
  }
  #searchGadget,
  .LSBox .searchField {
    padding: 19px;
  }
  .sub-sub-menu-wrapper {
    padding: 0;
  }
  .sub-sub-menu-link {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
  .collapse {
    display: block;
  }
  .fise-search-header-wrapper #portal-top {
    display: block;
    margin: 0;
  }
  #navbar-collapse {
    display: block !important;
  }
}
@media (min-width: 1280px) {
  .fise-search-header-wrapper #portal-top {
    display: block;
  }
}
