@media (max-width: 767px) {
  .navbar-toggle {
    position: absolute;
    top: 47px;
    right: 0;
    transform: translateY(-50%);
    margin: 0 1rem 0 0;
  }

  .nav-logo {
    max-width: 180px;
  }
}


