@import "variables.less";
/* portlets */
.portlet {
  padding: 1.5em;
  background-color: #F7F7F7;
  border: 1px solid #D6D6D9;
}
.portlet a {
  color: @link-color;
}

dl.portlet dt {
  background-color: transparent;
  padding: 0.42em 0;
  font-size: 150%;
  margin-bottom: 0.25em;
  font-weight: normal;
}
dl.portlet ul.navTreeLevel0 > .navTreeItem {
  border: 0;
}
dl.portlet ul.navTreeLevel0 > .navTreeItem {
  padding: 0;
}
dl.portlet dt a:link,
dl.portlet dt a:visited,
dl.portlet dt a:hover {
  color: #8dc63f;
}
dl.portlet ul.navTree .navTreeCurrentItem {
  margin: 0;
  border: 0;
  background: none;
  font-weight: bold;
}
dl.portlet ul.navTree li a:hover {
  background-color: #0d8442;
  color: white !important;
  padding: 0 1em;
  margin-left: -1em;
  text-decoration: none;
}

div.managePortletsLink, a.managePortletsFallback  {
  background-color: white;
  border: 2px solid green;
}

@media (width:768px) {
  dl.portlet {
    font-size: 80%;
    padding: 1em;
  }

  dl.portlet dt {
    font-size: 115%;
  }
}

@media (min-width:1025px) {
  dl.portlet {
    font-size: 100%;
  }
}
