<footer id="site-footer">

    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <p>The Forest Information System for Europe (FISE) is a single entry point for data and information on forests supporting the implementation of the EU strategy and the Aichi targets in Europe.
                </p>
                <nav class="nav">
                    <ul class="nav-list-inline">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/topics">Topics</a></li>
                        <li><a href="/data-and-maps">Data and maps</a></li>
                        <li><a href="/indicators">Indicators</a></li>
                        <li><a href="/countries">Countries</a></li>
                        <li><a href="/regions">Regions</a></li>
                        <li><a href="/tools">tools</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-sm-6">
                <div class="footer-logos">
                    <ul class="list-footer-logos">
                        <li><a href="http://europa.eu/"><span>EU</span><img src="./img/logo-eu.png" alt="EU flag" height="48" width="auto"></a></li>
                        <li><a href="http://www.eea.europa.eu/"><span>EEA</span><img src="./img/logo-eea.png" alt="EEA Logo" height="60" width="auto"></a></li>
                        <li><a href="https://www.chm-cbd.net/"><span>CHM</span><img src="./img/logo-chm.png" alt="CHM Logo" height="66" width="auto"></a></li>
                        <li><a href="https://www.cbd.int/2011-2020/"><span>UN Decate on Biodeversity</span><img src="./img/logo-undb.png" alt="United Nations Decade on Forests Logo" height="48" width="auto"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</footer>
